@charset 'utf-8';
@import 'reset.css';
@import 'common.css';

body {
    background: #151616;
}

/* section {
    padding: 130px 0;
} */

#imgbg {
    padding: 130px 0 0 !important;
    overflow: hidden;
}

#imgbg img {
    padding: 0 15px;
}

section .title {
    font-size: 40px;
    line-height: 46px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: center;
}

section .subtitle {
    font-size: 18px;
    line-height: 26px;
    color: #6f6f6f;
    font-weight: normal;
    text-align: center;
    margin-bottom: 100px;
}

section .subtitle span {
    border-bottom: 1px solid #6f6f6f;
    display: inline-block;
    padding-bottom: 1px;
}

section .explain {
    font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
}

section .highlight {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

section .titleh5 {
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: normal;
    text-align: left;
}



#seccol3 {
    padding: 130px 0;
}

#seccol3 .explain {
    /* position: relative; */
    /* float: left;*/
    width: 70%;
    margin: 0 auto;
}

#img3arr {
    background: #1c1c1c;
}

#img3arr div {
    float: left;
    width: 33.3333%;
    padding: 130px 15px;
}

#seccol2 {
    padding: 130px 0;
    position: relative;
}

#seccol2 .titleh5h6 {
    float: left;
    width: 50%;
}

#seccol2 h6 {
    font-size: 16px;
    line-height: 23px;
    color: #939393;
}

#seccol2 .explain {
    margin-left: 8.33%;
    padding: 0 15px;
    float: left;
    width: 41%;
}

#seccol1 {
    padding: 130px 0 0;
    background: #1c1c1c;
}

#seccol1 .pofollogo {
    text-align: center;
    margin-bottom: 40px;
}

#seccol1 .titleh5 {
    text-align: center;
}

#seccol1 .explain {
    text-align: center;
    margin-bottom: 25px;
}

#seccol1 .pofolimg {
    margin-top: 100px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

#img4arr div {
    float: left;
    width: 25%;
}