@charset "utf-8";

header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 9999;
}

header .logonav {
    position: relative;
    height: 72px;
}

.logonav .open_nav,
.logonav .close_nav {
    display: none;
}

.logonav h1 {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    padding: 0 15px;
    top: 80%;
    transform: translateY(80%);
}

.logonav h1 span {
    font-size: 12px;
}

.logonav .navwrap {
    width: 66.6667%;
    right: 50%;
}

.logonav .nav {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
}

.logonav .nav .depth1 > li {
    display: inline-block;
    position: relative;
}

.logonav .nav .depth1 > li > a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 20px;
    padding: 26px 0;
    transition: 1s;
}

.logonav .nav .depth1 > li > a:hover,
.logonav .topmenu a:hover {
    color: #28BDBE;
}

.logonav .topmenu {
    color: #fff;
    font-weight: 700;
    position: relative;
    font-size: 11px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.logonav .topmenu a {
    position: relative;
    padding: 0 10px;
    transition: 0.5s;
}






.logonav .nav .depth2 {
    display: none;
}