@charset "utf-8";

.skip a {
    display: block;
    background: #000;
    color: #fff;
    text-align: center;
    /* padding: 10px 0; */
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: -100px;
}
.skip a:focus {
    width: 100%;
    height: auto;
    padding: 10px 0;
    /* position: static; */
    position: fixed;
    top: 0;
    z-index: 9999999999;
}

header {
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 9999;
    height: 72px;
    transition: 1s;
}

/* header .logonav {
    position: relative;
    height: 72px;
} */

.logonav .open_nav {
    display: none;
}
.logonav .close_nav {
    display: none;
}

.logonav h1 {
    float: left;
    font-size: 24px;
    color: #fff;
    padding: 21.7px 15px;
    transition: 1s;
    margin: 0 50px;
}

.logonav h1 span {
    font-size: 12px;
}

.logonav .navwrap {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    /* transition: 1s; */
}
.logonav .nav .depth1 > li {
    display: inline-block;
    position: relative;
}

.logonav .nav .depth1 > li > a {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 20px;
    padding: 28px 0 ;
}

.logonav .nav .depth2 {
    position: absolute;
    top: 100%;
    min-width: 220px;
    background: rgba(35,35,35,1);
    color: #9d9d9d;
    text-align: left;
    padding: 13px 0 15px;
    font-size: 13px;
    display: none;
/*     transition: 1s;
 */}

.logonav .nav .depth2 li {
    padding: 0 28px;
}

.logonav .nav .depth2 li a {
    display: inline-block;
    padding: 9px 0 7px;
    transition: 0.5s;
}

.logonav .nav .depth1 > li:hover .depth2 {
    display: block;
}

.logonav .nav .depth2 a:hover {
    color: #28BDBE;
    text-indent: 0.5em;
}

.logonav .nav .depth1 > li > a:hover,
.logonav .topmenu a:hover {
    color: #28BDBE;
}

.logonav .topmenu {
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    text-align: right;
    float: right;
    margin: 0 50px;
}

.logonav .topmenu a {
    padding: 30px 10px;
    display:inline-block;
    transition: 1s;
}

/* footer */
footer {
    background-color: #1c1c1c;
    color: #6f6f6f;
    padding: 5% 0;
    font-size: 14px;
    line-height: 24px;
}

footer .container {
    position: relative;
}

footer .info {
    float: left;
    width: 33.33%;
}

footer .logo h3 {
    font-size: 25px;
    line-height: 30px;
    color: #626262;
    vertical-align: middle;
    margin-right: 30%;
    font-weight: 500;
}

footer .address p a {
    transition: 0.5s;
}

footer .address p a:hover {
    color: #fff;
}

footer .notice h2 {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    margin-bottom: 5px;
}

footer .notice span {
    font-size: 12px;
}

footer .notice table td {
    padding-bottom: 3px;
}

footer .notice table td:first-child a::before {
    content: 'ã†';
}

footer .notice table td:first-child{
    color: #666;
}

footer .notice table td:last-child{
    color: #999;
    text-align: center;
}

footer .notice table col:first-child {
    width: 70%;
}

footer .notice table col:last-child {
    width: 30%;
}

footer .infofirst {
    display: inline-block;
    padding-bottom: 40px;
    border-bottom: 0.5px solid #6f6f6f;
}

footer .infodetail {
    font-size: 12px;
    line-height: 20px;
    padding-top: 40px;
}

footer .infodetail p {
    float: left;
    width: 70%;
}

footer .copyright {
    float: right;
    width: 30%;
    text-align: right;
}

.goTop {
    display: block;
    font-size: 20px;
    position: fixed;
    right: 1.5%; bottom: 10%;
    color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    background: #28BDBE;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    z-index: 9999;
    transition: 0.5s;
}

.goTop:hover {
    transform: translateY(-10%);
}




@media only screen and (max-width: 1240px) {

    .logonav h1 {
        font-size: 21.6px;
    }
    .logonav h1 span {
        font-size: 10.8px;
    }
    .logonav .nav .depth1 > li > a {
        font-size: 12.6px;
        margin: 0 15px;
    }
    .logonav .topmenu {
        font-size: 10px;
    }
}

@media only screen and ( max-width: 1055px ) {
    #header .logonav {
        position: relative;
    }
    #header .logonav h1 {
        float: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
    }
    #header .logonav i {
        font-size: 20px;
        padding: 26px 0 ;
        color: #fff;
        transition: 1s;
        z-index:9999;
        margin: 0 50px;
    }
    #header .logonav .open_nav {
        display: block;
    }
    #header .logonav .close_nav {
        display: none;
    }
    .logonav .nav .depth1 > li:hover .depth2 {
        display: none;
    }


    .logonav .navwrap {
        display: none;
        position: absolute;
        top: 100%; left: 0%;
        transform: translate(0%, 0%);
        z-index:999999;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
    }
    #header .nav .depth1 > li {
        display: block;
        float: left;
        width: 100%;
        padding: 0 20px;
    }
    .logonav .nav .depth1 > li > a {
        position: relative;
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        margin: 0 30px;
        padding: 28px 0 ;
    }
    
    #header .nav .depth1 > li:nth-child(2),
    #header .nav .depth1 > li:nth-child(3),
    #header .nav .depth1 > li:nth-child(4) {
        border-top: 1px solid #666;
    }
    #header .nav .depth1 > li:nth-child(4) {
        border-bottom: 4px solid #28BDBE;
    }

    .logonav .nav .depth2 {
        position: static;
        top: 100%;
        width: 100%;
        background: rgba(35,35,35,1);
        color: #9d9d9d;
        text-align: left;
        padding: 13px 0 15px;
        font-size: 13px;
        display: none;
        /* transition: 1s; */
    }



    #header .topmenu {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    footer .infofirst,
    footer .infodetail {
        margin-right: 100px;
        margin-left: 100px;
    }
    footer .info {
        float: left;
        width: 50%;
    }
    footer .logo {
        float: left;
        width: 100%;
        padding-bottom: 30px;
    }

    footer .infodetail p {
        float: left;
        width: 55%;
    }
    
    footer .copyright {
        float: right;
        width: 45%;
        text-align: right;
    }
}

@media only screen and (max-width: 768px) {
    #header .nav .depth1 > li {
        display: block;
        float: left;
        width: 100%;
        padding: 0 20px;
    }

    




    footer .infofirst,
    footer .infodetail {
        margin-right: 50px;
        margin-left: 50px;
    }
    footer .info {
        float: none;
        width: 100%;
        text-align: center;
    }
    footer .logo h3 {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        display: block;
    }
    footer .address {
        padding-bottom: 30px;
    }
    footer .infodetail {
        font-size: 11px;
    }
    footer .infodetail p {
        float: none;
        width: 100%;
        text-align: center;

    }
    
    footer .copyright {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
}