@charset 'utf-8';
@import 'reset.css';
@import 'common.css';

body, html {
    height: 100%;
}

#mainslide {
    height: 100%;
}

.slideouter {
    width: 100%;
    height: 100%;
}

.slide .slideinner:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.5);
}

.slide {
    height: 100%;
}

.slide .slideinner {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;
}

.slide .slideinner:nth-child(1) {
    background-image: url(../images/main01.jpg);
}

.slide .slideinner:nth-child(2) {
    background-image: url(../images/main02.jpg);
}

.slide .slideinner:nth-child(3) {
    background-image: url(../images/main03.jpg);
}

.slide .text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide .text h6 {
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 20px;
}

.slide .text h2 {
    font-size: 120px;
    line-height: 110px;
}

.slide .text span {
    color: #28BDBE;
}


.slide .text button {
    border: 1.5px solid #fff;
    padding: 10px 25px;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    margin: 25px 10px 0;
    transition: 0.5s;
}

.slide .text button:hover {
    background: #fff;
    color: #232323;
}

.slide .swipe {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.slide .swipe .swipebullet {
    display: inline-block;
    margin: 0 5px;
    height: 3px;
    width: 30px;
    border-radius: 0;
    background: #fff;
}


/* section2 */
#blog, #workprocess {
    background: #060707;
    color: #fff;
    overflow: hidden;
}

#blog .bloglist {
    position: relative;
    padding: 0 15px;
    /* height: 700px; */
    margin-right: auto;
    margin-left: auto;
}

.bloglist ul li {
    float: left;
    padding: 50px 10px;
    width: 25%;
    text-align: center;
}

.bloglist ul li a {
    display: block;
}

.bloglist ul li h1 {
    font-size: 110px;
    line-height: 110%;
    font-weight: 600;
    color: #212525;
    transition: 0.5s;
}

.bloglist ul li h1:hover {
    color: #25adae;
}

.bloglist ul li .listdetail {
    padding: 40px 0;
}

.bloglist .listdetail h4 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
    /* margin-bottom: 30px; */
    color: #28BDBE;
    font-weight: 500;
    transition: 0.5s;
}

.bloglist .listdetail h4:hover {
    color: #fff;
}

.bloglist .listdetail img {
    display: inline-block;
    margin: 20px 0 15px;
}

.bloglist .listdetail p {
    color: #939393;
    font-size: 12px;
    line-height: 20px;
    margin-top: 2%;
    margin-bottom: 20px;
}

.bloglist .listdetail span {
    display: inline-block;
    border: 2px solid #fff;
    font-size: 9px;
    padding: 1px 17px;
    line-height: 22px;
    font-weight: 500;
    transition: 0.5s;
}

.bloglist .listdetail span:hover {
    background: #fff;
    color: #232323;
}

/* section 3 */
.skyblue {
    position: relative;
    background-image: url(../images/homepage-9-parallax-img5.jpg);
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    height: 345px;
}

.skyblue .skybluebg {
    background: #28BDBE;
    height: 100%;
    width: 100%;
    opacity: 0.75;
}

.skyblue ul li {
    float: left;
    padding: 130px 0;
    width: 25%;
    text-align: center;
    color: #000;
}

.skyblue ul li h3 {
    font-size: 48px;
}

.skyblue ul li span {
    font-size: 14px;
}

/* section title */
.sectitle {
    margin-bottom: 4%;
    text-align: center;
    color: #fff;
}

.sectitle h3 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 25px;
}

.sectitle p {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}

/* section 3 */
#workprocess {
    padding: 130px 0;
    background: #151616;
}

.process {
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 15px;
}

.process .circle {
    width: 130px;
    height: 130px;
    background-color: #212525;
    border-radius: 50%;
    line-height: 130px;
    margin: 0 auto;
}

.process h6 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 30px 0 5px;
}

.process p {
    font-size: 14px;
    color: #6f6f6f;
    line-height: 24px;
    margin-bottom: 25px;
    margin: 0 32px;
}


/* readsection */
.readwrap img:first-of-type {
    float: left;
    width: 50%;
    height: 444px;
}

.readwrap img:last-of-type {
    float: right;
    width: 50%;
    height: 444px;
}

.readmore:first-of-type {
    float: right;
}

.readmore:last-of-type {
    float: left;
}

.readmore {
    background: #000;
    color: #939393;
    width: 50%;
    height: 444px;
    padding: 8%;
    vertical-align: middle;
    text-align: center;
}

.readmore h6 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.readmore h4 {
    font-size: 25px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 20px;
}

.readmore p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}

.readmore span {
    font-size: 11px;
    padding: 10px 24px;
    padding-left: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: 0.5s;
    position: relative;
}

.readmore span:before {
    content: '\f144';
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    font-size: 16px;
    font-family:'Font Awesome 5 Free'; font-weight:900 !important;
}

.readmore span:hover {
    background: #fff;
    color: #232323;
}

/* section portfolio */
#pofolsec {
    background: #151616;
    padding: 130px 0;
}

.pofolimg a {
    width: 33.33%;
    float: left;
    padding: 7px 7px;
}

.pofolimg > div {
    position: relative;
}

.pofolimg a {
    position: relative;
    display: inline-block;
}

#pofolsec .pofolimg .overlay {
    position: absolute;
    overflow: hidden;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 30px;
    background: #fff;
    opacity: 0;
    transition: 0.5s;
}

#pofolsec .pofolimg div:hover .overlay {
    opacity: 1;
}

.pofolimg .copy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pofolimg .copy h6 {
    text-align: center;
    font-size: 16px;
    color: #232323;
    margin-bottom: 5px;
}

.pofolimg .copy p {
    text-align: center;
    font-size: 12px;
    color: #939393;
}

/* section promote */
#promote .part {
    background-image: url(../images/bg-footbanner-01.jpg);
    float: left;
    width: 50%;
    height: 420px;
    position: relative;
}

.part:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.5);
}

.partcopy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    color: #fff;
}

.partcopy h3 {
    font-size: 40px;
    margin-bottom: 5px;
    text-align: center;
}

.partcopy p {
    font-size: 14px;
    color: #d6d5d5;
    margin-bottom: 25px;
    text-align: center;
    line-height: 24px;
}

.partcopy span {
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 29px;
    border-radius: 50%;
}