@charset 'utf-8';


@media only screen and (max-width: 992px) {

    /* section 0 slide */
    .mainSec .slideinner .slide .img {
        height: 600px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .mainSec .text h6 {
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
        padding-bottom: 20px;
    }
    .mainSec .text h2 {
        font-size: 80px;
        line-height: 75px;
    }



    /* section 1 blog */
    .mainSec #blog .bloglist {
        position: relative;
        padding: 0 15px;
        /* height: 700px; */
        margin-right: 70px;
        margin-left: 70px;
    }
    .mainSec .bloglist .blogul .blogli {
        float: left;
        padding: 50px 10px;
        width: 50%;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }


    /* section 2 skyblue */
    .mainSec .skyblue {
        position: relative;
        height: 220px;
    }
    .mainSec .skyblue ul li {
        float: left;
        padding: 80px 0;
        width: 25%;
    }
    .mainSec .skyblue ul li h3 {
        font-size: 36px;
    }
    .mainSec .skyblue ul li span {
        font-size: 14px;
    }

    /* section 2 skyblue */
    .mainSec .skyblue {
        position: relative;
        background-image: url(../images/homepage-9-parallax-img5.jpg);
        background-size: cover;
        overflow: hidden;
        background-attachment: fixed;
        height: 360px;
    }
    .mainSec .skyblue ul {
        position: relative;
        margin-right: 70px;
        margin-left: 70px;
    }
    .mainSec .skyblue ul li {
        float: left;
        padding: 60px 0;
        width: 50%;
        text-align: center;
        color: #000;
    }

    /* section 3 process */
    .mainSec #workprocess {
        padding: 70px 0;
        background: #151616;
        margin-right: 70px;
        margin-left: 70px;
    }
    .mainSec .process {
        width: 50%;
        float: left;
        text-align: center;
        padding: 0 10px 30px;
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .mainSec .process p {
        font-size: 14px;
        color: #6f6f6f;
        line-height: 24px;
        margin-bottom: 25px;
        margin: 0 10px;
    }



    /* section 4 read */
    .mainSec .readwrap img:first-of-type {
        float: none;
        width: 100%;
        height: 300px;
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    
    .mainSec .readwrap img:last-of-type {
        float: none;
        width: 100%;
        height: 300px;
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .mainSec .readwrap .readmore {
        color: #939393;
        width: 100%;
        height: 380px;
        padding: 9%;
        vertical-align: middle;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }


    /* section 5 portfolio */
    .mainSec #pofolsec {
        background: #151616;
        padding: 130px 0;
        margin-right: 70px;
        margin-left: 70px;
    }
    .mainSec .pofolimg > div {
        position: relative;
        width: 50%;
        float: left;
        padding: 7px 7px;
    }


    /* section 6 promote */
    .mainSec #promote .partwrap > div:first-of-type {
        float: none;
        width: 100%;
        height: 350px;
        position: relative;
    }
    
    .mainSec #promote .partwrap > div:last-of-type {
        float: none;
        width: 100%;
        height: 350px;
        position: relative;
    }
}


@media only screen and (max-width: 768px) {
    /* section 0 slide */
    .mainSec .slideinner .slide .img {
        height: 500px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .mainSec .text h6 {
        font-size: 16px;
        line-height: 30px;
        font-weight: normal;
        padding-bottom: 20px;
    }
    .mainSec .text h2 {
        font-size: 60px;
        line-height: 55px;
    }


    /* section 1 blog */
    .mainSec #blog .bloglist {
        position: relative;
        padding: 0 15px;
        /* height: 700px; */
        margin-right: 70px;
        margin-left: 70px;
    }
    .mainSec .bloglist .blogul .blogli {
        float: left;
        padding: 10px 10px;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    .mainSec .bloglist .listdetail hr {
        width: 30%;
        margin: 20px auto;
        border: 0.5px solid #666;
    }
    .mainSec .bloglist .listdetail hr:before {
        position: absolute;
        width: 20%;
        left: 50%;
        transform: translateX(-50%);
        border: 0.5px solid #28BDBE;
        content: '';    
    }
    .mainSec .bloglist .listdetail p {
        color: #939393;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
        margin-right: 150px;
        margin-left: 150px;
    }


    /* section 4 read */
    .mainSec .readwrap img:first-of-type {
        float: none;
        width: 100%;
        height: 300px;
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    
    .mainSec .readwrap img:last-of-type {
        float: none;
        width: 100%;
        height: 300px;
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .mainSec .readwrap .readmore {
        color: #939393;
        width: 100%;
        height: 360px;
        padding: 9%;
        vertical-align: middle;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }


    /* section 5 portfolio */
    .mainSec .pofolimg > div {
        position: relative;
        width: 100%;
        float: left;
        padding: 7px 7px;
    }
}

@media only screen and (max-width: 450px) {
    /* section 0 slide */
    .mainSec .text h6 {
        font-size: 13px;
        line-height: 30px;
        font-weight: normal;
        padding-bottom: 20px;
    }
    
    /* section 1 blog */
    .mainSec #blog .bloglist {
        position: relative;
        padding: 0 10px;
        /* height: 700px; */
        margin-right: 0px;
        margin-left: 0px;
    }
    .mainSec .bloglist .blogul .blogli {
        float: left;
        padding: 10px 0px;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    .mainSec .bloglist .listdetail p {
        color: #939393;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
        margin-right: 50px;
        margin-left: 50px;
    }

    /* section 2 skyblue */
    .mainSec .skyblue ul {
        position: relative;
        margin-right: 50px;
        margin-left: 50px;
    }
    .mainSec .skyblue .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .mainSec .skyblue ul li {
        float: left;
        padding: 40px 0;
        width: 50%;
        text-align: center;
        color: #000;
    }

    /* section 3 process */
    .mainSec #workprocess {
        padding: 70px 0;
        background: #151616;
        margin-right: 50px;
        margin-left: 50px;
    }
    .mainSec .process {
        width: 100%;
        float: left;
        text-align: center;
        padding: 0 10px 30px;
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    /* titlebox */
    .titlebox .sectitle h3 {
        font-size: 32px;
        line-height: 46px;
        margin-bottom: 25px;
    }
    .titlebox .sectitle p {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 25px;
    }

    /* section 4 read */
    .mainSec .readwrap .readmore h6 {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .mainSec .readwrap .readmore h4 {
        font-size: 17px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 20px;
    }
    .mainSec .readwrap .readmore p {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 25px;
    }

    /* section 6 promote */
    .mainSec .partcopy {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: #fff;
        text-align: center;
    }
    .mainSec .partcopy i {
        font-size: 45px;
        margin-bottom: 20px;
    }
    
    .partcopy h3 {
        font-size: 32px;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .partcopy p {
        font-size: 12px;
        color: #d6d5d5;
        margin-bottom: 30px;
        text-align: center;
        line-height: 20px;
    }
}